:root {
    --primary-color: #eee3dd;
    --second-color: #fff7f2;
    --third-color: #b79e7e;
}

.active {
    box-shadow: 0px 0px 10px gray inset;
}

#progress-bar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 25px;
    border: 1px solid var(--third-color);
    display: grid;
    place-items: center;
    cursor: pointer;
}

#progress-val {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    background-color: transparent;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
}